<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap" rel="stylesheet">
  </head>
<section>
    <div class="moniteurs">
        <br>
        <div class="formateurs-image-text" id="antonio">
            <div class="formateurs"><img class="formateurs-image" src="https://image.shutterstock.com/image-photo/successful-handsome-male-business-car-260nw-1121356016.jpg" alt="Antonio"></div>
            <div class="f-text">
                <h1 class="titremono">Antonio</h1>
                <p>Ma méthodologie d'enseignement est basée sur la mise en confiance et la prise d'initiative.
                    Je serai là pour vous rassurer mais également votre allié numéro pour vous donner tous les outils pédagogiques necessaire à votre apprentissage. Discipliné et methodique sont mes mots d'ordres</p>
        </div>
        </div>
        <div class="formateurs-image-text" id="paulette">
            <div class="f-text">
                <h1 class="titremono">Paulette</h1>
            <p>Après plusieurs années d’enseignement en auto école, transmettre mon savoir faire est pour moi une évidence. De nature pédagogue patiente et à l’écoute je m’adapte à chaque profil d’élève afin d’accompagner au mieux jusqu’à l’obtention du permis. Votre réussite sera la mienne !</p>
        </div>
            <div class="formateurs"><img class="formateurs-image" src="https://image.shutterstock.com/image-photo/honking-young-female-driver-260nw-671755285.jpg" alt="paulette"></div>
            
        </div> 
        <div class="formateurs-image-text" id="stephane">
            <div class="formateurs"><img class="formateurs-image" src="https://image.shutterstock.com/image-photo/man-driving-car-helmet-horror-260nw-670704298.jpg" alt="stephane"></div>
            <div class="f-text">
                <h1 class="titremono">Stephane</h1>
            <p>Passionné par le métier de la conduite je mets à votre disposition tout mon savoir faire et mes compétences pour l'obtention de votre permis.
                Calme et surtout patient je serais votre partenaire idéal dans votre parcours pour l'apprentissage de la conduite. :)
            </p>
        </div>
    
    </div>
        <br><br>
    </div>
</section>
