
<table class="table tablo container">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titre </th>
        <th scope="col">Modifier ou Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of listeCours$ | async">
        <th scope="row">{{c.id}}</th>
        <td>{{c.titre}}</td>
        <td><button (click)="onUpdate(c.id)"  class="btn btn-warning">Modifier</button> &nbsp;
           <button (click)="onDelete(c.id)"  class="btn btn-danger">Supprimer</button></td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>