
<table class="table tablo container">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Contenu</th>
      <th scope="col">Modifer ou Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forfait of listeForfait$ | async">
      <th scope="row">{{forfait.id}}</th>
      <td>{{forfait.nom}}</td>
      <td>{{forfait.montant}}€</td>
      <td>{{forfait.contenu}}</td>
      <td>
        <div>	<button class="btn btn-warning" (click)="onUpdate(forfait.id)">Modifier</button> &nbsp;
							<button class="btn btn-danger" (click)="onDelete(forfait.id)">Supprimer</button>
			
						</div>
      </td>
    </tr>
  </tbody>
</table>
