<button routerLink="/vehicule">Afficher les véhicules</button>
<button routerLink="/enrVehicule">Enregistrer un véhicule</button>
<br>
<button routerLink="/client">Afficher Clients</button>
<br>
<button routerLink="/formateur">Formateur</button>

<button routerLink="/CoursCode">Afficher Cours</button>
<button routerLink="/addCours"> Ajouter un cours </button>
<br>
<button routerLink="/SeanceConduite">Afficher Séances</button>
<button routerLink="/addSeance"> Ajouter une séance </button>

<button routerLink="/forfait">Afficher les Forfaits</button>




<div>
    <span>---------------------------------section commentaire/avis--------------------------------</span>
</div>

 <section>
    <div id="avis">
        <div id="bulle-gauche">

        <div class="mb-4 texte-avis">Auto-école simple et efficace moins de paperasse tout est en ligne</div>     
           <div class="prenom-ville">
             <div>
                 <img class="star" src="https://www.stych.fr/img/stych/stars/5.png">
             </div>
           Pierre B.
           <span class="ville">Toulouse</span>
         </div>

    </div>

     <div class="bulle-droite">
         <div id="bulle-droite-haut">
            <div class="mb-4 texte-avis">Très bon service. C'est une auto-école qui offre une formation très complète avec des très bons outils pédagogiques. Les enseignants sont très bien formés dans leur domaine et très sympas!
                </div>

          
               
               <div class="prenom-ville">
                <div>
                    <img  class="star" src="https://www.stych.fr/img/stych/stars/5.png">
                 </div>
               Paul P.
               <span class="ville">Le Havre</span>
             </div>
           
         </div>

         <div id="bulle-droite-bas">
            <div class="mb-4 texte-avis">Très très bonne auto école ! Moniteur au top! Rapide et efficace</div>

               <div class="prenom-ville" >
                <div>
                    <img  class="star" src="https://www.stych.fr/img/stych/stars/5.png">
                 </div>
              Jacques M.
               <span class="ville">Lille</span>
             </div>
            
         </div>
        </div>
     </div>

     
     <br><br><br>
     
     <div class="test"><img src="https://cdn.pixabay.com/photo/2012/04/14/13/10/car-33866_960_720.png" alt="voiture vert"  height="100"></div>
 </section>






<router-outlet></router-outlet>
