<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap" rel="stylesheet">
</head>
<br><br>
<div class="centre"><h1 class="titremono" >Menu Administrateur</h1></div>
<br>
<ul class="container bouton">
  <li class="afficheListe flex1" routerLink="/formateur">Afficher les Formateurs</li>
  <li class="afficheListe flex1" routerLink="/client">Afficher les Elèves</li>
  <li class="afficheListe flex1" routerLink="/vehicule">Afficher les Voitures</li>
  <li class="afficheListe flex1" routerLink="/CoursCode">Afficher les Cours</li>
  <li class="afficheListe flex1" routerLink="/SeanceConduite">Afficher les Séance Conduite</li>
</ul>
<ul class="container bouton">
  <li class="afficheListe flex1" routerLink="/ajouterFormateur">Ajouter un Formateur</li>
  <li class="afficheListe flex1" routerLink="/ajouterClient">Ajouter un Elève</li>
  <li class="afficheListe flex1" routerLink="/enrVehicule">Ajouter une Voiture</li>
  <li class="afficheListe flex1" routerLink="/addCours">Ajouter un Cours</li>
  <li class="afficheListe flex1" routerLink="/addSeance">Ajouter une Séance</li>
</ul>


