<ul class="container bouton">
  <li class="afficheListe flex1" routerLink="/formateur">
    Afficher Formateurs
  </li>
  <li class="afficheListe flex1" routerLink="/client">
    Afficher Elèves
  </li>
  <li class="afficheListe flex1" routerLink="/vehicule">
    Afficher Voitures
  </li>
  <li class="afficheListe flex1" routerLink="/CoursCode">
    Afficher Cours
  </li>
</ul>
<ul class="container bouton">
  <li class="afficheListe flex1" routerLink="/ajouterFormateur">Ajouter Formateur</li>
  <li class="afficheListe flex1" routerLink="/ajouterClient">Ajouter Elève</li>
  <li class="afficheListe flex1" routerLink="/enrVehicule">Ajouter Voiture</li>
  <li class="afficheListe flex1" routerLink="/addCours">Ajouter Cours</li>
</ul>
