<p>formulaire-client works!</p>

<div>
  <form [formGroup]="ClientForm" (ngSubmit)="onSubmit()">
    <input type="hidden" class="form-control" id="id" formControlName="id">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom : </label>
      <input type="text" class="form-control" id="nom" formControlName="nom">
    </div>
    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom : </label>
      <input type="text" class="form-control" id="prenom" formControlName="prenom">
    </div>
    <div class="mb-3">
      <label for="dateNaissance" class="form-label">Date de Naissance : </label>
      <input type="date" class="form-control" id="dateNaissance" formControlName="dateNaissance">
    </div>
    <div class="mb-3">
      <label for="mail" class="form-label">Adresse Mail : </label>
      <input type="email" class="form-control" id="mail" formControlName="mail">
    </div>
    <div class="mb-3">
      <label for="adresse" class="form-label">Adresse : </label>
      <input type="text" class="form-control" id="adresse" formControlName="adresse">
    </div>
    <div>
      <input type="submit" class="form-control" value="Envoyer">
    </div>
  </form>
</div>
