
<br>
<form [formGroup]="formFormateurAdd" (ngSubmit)="onSave()">
  <div class="mb-3 formulaires">
   
    <label for="nom" class="form-label">Nom : </label>
    <input type="text" class="form-control" id="nom" formControlName="nom">
    <br>
    <label for="prenom" class="form-label">Prenom : </label>
    <input type="text" class="form-control" id="prenom" formControlName="prenom">
    <br>
    <label for="dateNaissance" class="form-label">Date de naissance : </label>
    <input type="date" class="form-control" id="dateNaissance" formControlName="dateNaissance">
    <br>
    <label for="email" class="form-label">Email : </label>
    <input type="email" class="form-control" id="email" formControlName="mail" >
    <br>
    <label for="adresse" class="form-label">Adresse :</label>
    <input type="text" class="form-control" id="adresse" formControlName="adresse" >
    <br>
    <button type="submit" class="btn btn-success btnform">Enregistrer</button>
  </div>
</form>
<div class="centre "><img class="centre2" src="https://www.auto-ecole-fanget-peage-roussillon.fr/userfiles/9549/refonte/Cours-d%E2%80%99auto-%C3%A9cole-au-P%C3%A9age-de-Roussillon--Chavanay--avec-l%E2%80%99auto-%C3%A9cole-Fanget9.jpg" alt=""></div>
