<p>formulaire-add-formateur works!</p>

<form [formGroup]="formFormateurAdd" (ngSubmit)="onSave()">
  <div class="mb-3">

    <label for="nom" class="form-label">Nom</label>
    <input type="text" class="form-control" id="nom" formControlName="nom">

    <label for="prenom" class="form-label">Prenom</label>
    <input type="text" class="form-control" id="prenom" formControlName="prenom">

    <label for="dateNaissance" class="form-label">Date de naissance</label>
    <input type="date" class="form-control" id="dateNaissance" formControlName="dateNaissance">

    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" formControlName="mail" >

    <label for="adresse" class="form-label">Adresse</label>
    <input type="text" class="form-control" id="adresse" formControlName="adresse" >

  </div>
  <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
