<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap" rel="stylesheet">
  </head>
<section>
    <div class="moniteurs">
        <br>

        <div class="formateurs-image-text" id="antonio">
            <div class="formateurs"><img class="formateurs-image voitures" src="https://www.pioneer-car.eu/be/sites/all/modules/features/feature_car_specifc/images/brands/renault/car.png" alt="Antonio"></div>
            <div class="fondvoit">
                <h1 class="titrevoit">La Clio</h1>
                <p>- Boite Manuelle</p>
                <p>- 200 chevaux sous le capot</p>
        </div>
        </div>
        <div class="formateurs-image-text" id="paulette">
            <div class="fondvoit">
                <h1 class="titrevoit">La Super C3</h1>
            <p>- Boite automatique</p>
            <p>- Roule à l'électrique !</p>
        </div>
            <div class="formateurs"><img class="formateurs-image" src="https://www.lmda-automobiles.fr/photos/422/422-4169-2079_g.png" alt="paulette"></div>
            
        </div> 
        <div class="formateurs-image-text" id="stephane">
            <div class="formateurs"><img class="formateurs-image voitures" src="https://www.pngmart.com/files/10/Red-Mini-Cooper-PNG-File.png" alt="stephane"></div>
            <div class="fondvoit">
                <h1 class="titrevoit">La Mini</h1>
            <p>- Boite Manuelle</p>
            <p>- Mini format moins de dégâts </p>
        </div>
    
    </div>
        <br><br>
    </div>
</section>
