


<section class="section1">
  <div class="grid quelqueInfo" style="--bs-columns: 3;">
    <div class="permisChezNous">
      <h3 class="Pourquoi">Pourquoi passer le permis chez nous</h3>
      <p class="Pourquoi">Le permis de conduire est un droit administratif autorisant la <br> conduite sur une route publique  suite à un test d’aptitude à la  <br>conduite en fonction des lois locales.<br> Ainsi, l’obtention de ce permis de conduire est très capitale pour diverses raisons. </p>
    </div>
    <div class="prix prixCode" routerLink="/forfait">
      <h4>Code de la route</h4>
      <h5> à partir de : 1 €</h5>
    </div>
    <div class="prix prixConduite" routerLink="/forfait">
      <h4>Conduite</h4>
      <h5> à partir de : 1 €</h5>
    </div>
  </div>
    <div class="voiture" style="--bs-columns: 3;">
      <div class="imageVoiture">

      </div>
      <div class="prix prixCodeConduite" routerLink="/forfait">
        <h4>Le permis</h4>
        <h5> à partir de : 1 €</h5>
      </div>
    </div>
  </section>
  <br><br><br><br><br><br>

  <router-outlet></router-outlet>
